@page
@model Salon_Management_System.Pages.Services.IndexModel


<h1>Services</h1>
<p class="text-muted">Premium grooming & styling</p>

<div class="grid grid-4">

    @foreach (var service in Model.Services)
    {
        <div class="card">
            <h3>@service.Name</h3>
            <p>@service.DurationMinutes min</p>

            <strong>R @service.Price</strong>

            <a class="btn btn-brand"
               asp-page="/Bookings/Create"
               asp-route-serviceId="@service.Id">
                Book Now
            </a>
        </div>
    }

</div>
